* {
    bg-col:       rgba(15, 17, 26, 0.78);
    bg-col-light: rgba(30, 30, 46, 0.75);
    border-col:   #f38ba8;
    selected-col: #f38ba8;
    selected-fg:  #11111b;
    fg-col:       #cdd6f4;
    grey:         #6c7086;
    font: "JetBrains Mono 10.5";
}

window {
    width: 300px;
    border: 2px;
    border-color: @border-col;
    background-color: @bg-col;
    border-radius: 14px;
    location: north east;
    anchor: north east;
    x-offset: -10px;
    y-offset: 36px;
    padding: 16px;
}

mainbox {
    background-color: transparent;
    children: [ "box-header", "listview" ];
    spacing: 12px;
}

box-header {
    background-color: transparent;
    orientation: vertical;
    children: [ "box-avatar", "textbox-user" ];
    spacing: 8px;
}

box-avatar {
    background-color: transparent;
    orientation: horizontal;
    children: [ "dummy-l", "icon-avatar", "dummy-r" ];
}

dummy-l {
    background-color: transparent;
}

dummy-r {
    background-color: transparent;
}

icon-avatar {
    expand: false;
    background-color: transparent;
    filename: "/home/kuro/.config/rofi/kurop_avatar.png";
    size: 90px;
    border-radius: 45px;
}

textbox-user {
    expand: false;
    background-color: transparent;
    text-color: @fg-col;
    font: "JetBrains Mono Bold 12";
    str: "kuro";
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

listview {
    background-color: transparent;
    columns: 1;
    lines: 4;
    spacing: 6px;
    fixed-height: true;
    cycle: true;
}

element {
    background-color: @bg-col-light;
    text-color: @fg-col;
    padding: 8px 12px;
    border-radius: 8px;
}

element selected {
    background-color: @selected-col;
    text-color: @selected-fg;
}

element-text {
    background-color: inherit;
    text-color: inherit;
    horizontal-align: 0.0;
    vertical-align: 0.5;
    font: "JetBrains Mono SemiBold 10.5";
}
